@import (reference) '../../less/variables.less';

@white: #FFFFFF;
@green: #359C31;
@dark-100: #C4C4C4;
@dark-200: #1A1A1A;

@mobile: 576px;
@tablet: 768px;
@tablet-2: 992px;
@desktop: 1200px;

// страница каталог
.catalog {

  &__inner {
    margin-bottom: 152px;
    display: flex;

    @media (max-width:@mobile) {
      margin-bottom: 116px;
    }
  }

  &__title {
    margin-bottom: 40px;

    @media (max-width:@mobile) {
      margin-bottom: 24px;
    }
  }

  &__sidebar {
    margin-right: 75px;
    max-width: 239px;
    min-width: 225px;
    width: 100%;

    @media (max-width:@tablet-2) {
      margin-right: 45px;
    }
  }

  &__content {
    max-width: 888px;
    width: 100%;
  }
}

// сайдбар 
.sidebar {

  &__button {
    padding-bottom: 16px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &._active {
      .sidebar__arrow {
        transform: rotate(180deg);
        transition: transform 0.3s ease;
      }
    }
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: @dark-200;
  }

  &__arrow {
    display: none;
  
    @media (max-width:@tablet){
      display: block;
      transition: transform 0.3s ease;
    }
  }
}

// фильтр категория
.category {
  margin-bottom: 32px;

  &__subtitle {
    margin-bottom: 12px;
    padding: 4px 12px;
    display: inline-block;
    font-size: 14px;
    line-height: 1.4;
    color: @white;
    background: @green;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    border-radius: 4px;
  }

  &__item {
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__label {
    padding-left: 24px;
    font-size: 14px;
    line-height: 1.4;
    color: @dark-200;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);

    &:checked+.category__checkbox {
      color: @white;
      background: #2b9727;
      border-radius: 4px;
      padding: 0 5px;
    }

  }

}

// фильтр цены
.price {
  margin-bottom: 40px;

  &__input-wrapper {
    transform: translateY(-22px);
  }

  &__inputs-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__input-label {
    padding: 6px 12px;
    max-width: 104px;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: @white;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__input-span {
    margin-right: 8px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    color: #C1C1C1;
  }

  &__input-from,
  &__input-to {
    outline: transparent;
    border: none;
  }

}

.irs--round {
  height: 67px;
}

.irs-min,
.irs-max,
.irs-to,
.irs-from {
  display: none;
}

.irs--round .irs-bar,
.irs--round .irs-line {
  height: 4px;
  background-color: #C4C4C4;
}

.irs--round .irs-handle {
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px rgba(50, 50, 71, 0.06), 0px 2px 4px rgba(50, 50, 71, 0.06);
  border: none;
  cursor: pointer;
}

.irs--round .irs-from,
.irs--round .irs-to,
.irs--round .irs-single {
  display: none;
}

// переключатель товары со скидкой
.switch {
  margin-bottom: 39px;

  &__form {
    display: flex;
    align-items: center;
  }

  &__label {
    margin-right: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: @dark-200;
    position: relative;
    cursor: pointer;
  }

  &__input {
    position: relative;
    width: 36px;
    height: 19px;
    -webkit-appearance: none;
    outline: none;
    background: #c6c6c6;
    border-radius: 20px;
    transition: .5s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    cursor: pointer;
  }

  &__input:checked {
    background-color: @green;
  }

  &__input:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: 4px;
    left: 4px;
    background: #fff;
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
  }

  &__input:checked:before {
    left: 20px;
  }

}

// фильтр материалов
.materials {
  margin-bottom: 32px;

  &__item {
    margin-bottom: 8px;
  }

  &__label {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    cursor: pointer;
  }

  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);

    &:checked+.materials__checkbox {
      background-image: url(../catalog/icon-checked.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 16px 13px;
      border-color: @green;
    }
  }

  &__checkbox {
    margin-right: 9px;
    display: inline-block;
    width: 24px;
    height: 24px;
    left: 0;
    border: 2px solid #A0A0A0;
    border-radius: 4px;
  }

  &__link {
    font-size: 14px;
    line-height: 1.4;
    color: #A0A0A0;
    text-decoration: underline;
    text-decoration-style: dashed;
  }
}

// фильтр высоты
.height {
  margin-bottom: 32px;

  &__input-wrapper {
    transform: translateY(-22px);
  }

  &__inputs-box {
    display: flex;
    flex-wrap: wrap;
  }

  &__input-label {
    padding: 6px 12px;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: @white;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__input-label-from {
    margin-right: 56px;
  }

  &__input-label-from,
  &__input-label-to {
    max-width: 78px;
  }

  &__input-span {
    margin-right: 8px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    color: #C1C1C1;
  }

  &__input-from,
  &__input-to {
    outline: transparent;
    border: none;
  }
}

// фильтр длины
.length {

  &__input-wrapper {
    transform: translateY(-22px);
  }

  &__inputs-box {
    display: flex;
    flex-wrap: wrap;
  }

  &__input-label {
    padding: 6px 12px;
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: @white;
    border: 1px solid #C4C4C4;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;
    overflow: hidden;
  }

  &__input-label-from {
    margin-right: 42px;
  }

  &__input-label-from,
  &__input-label-to {
    max-width: 90px;
  }

  &__input-span {
    margin-right: 8px;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03rem;
    color: #C1C1C1;
  }

  &__input-from,
  &__input-to {
    outline: transparent;
    border: none;
  }

}

// тэги 
.tag {

  &__list {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    @media (max-width:@mobile) {
      margin-bottom: 24px;
      border-bottom: 2px solid #C4C4C4;
    }
  }

  &__item {
    padding: 6px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background-color: @green;
  }

  &__title {
    margin-right: 8px;
    font-size: 14px;
    line-height: 1.4;
    color: @white;
  }

  &__close {
    background-color: transparent;
  }

  &__close-img {
    width: 15px;
    height: 15px;
  }

  &__link {
    font-size: 14px;
    line-height: 1.4;
    color: #A0A0A0;
    text-decoration: underline;
    text-decoration-style: dashed;
  }


  &__filter-button {
    display: none;
    background-color: transparent;

    @media (max-width:@tablet) {
      display: flex;
      align-items: center;
      width: 100%;
    }

    @media (max-width:@mobile) {
      margin-bottom: 24px;
    }
  }

  &__filter-img {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }

  &__filter-title {}
}

// продукт
.product {

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    row-gap: 32px;

    @media (max-width: 1100px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:@tablet-2) {
      column-gap: 10px;
      row-gap: 24px;
      justify-items: center;
    }


  }

  &__item {
    max-width: 264px;
    width: 100%;
    height: auto;

    @media (max-width:@mobile) {
      max-width: 200px;
    }
  }

  &__img {
    margin-bottom: 20px;
    max-width: 264px;
    width: 100%;
    object-fit: cover;

    @media (max-width:@mobile) {
      margin-bottom: 8px;
    }
  }

  &__title {
    padding: 0 16px;
    margin-bottom: 4px;
    font-size: 14px;
    line-height: 1.4;

    @media (max-width:@mobile) {
      max-width: 136px;
      width: 100%;
      padding: 0;
      font-size: 12px;
      line-height: 1.5;
    }
  }

  &__price-box {
    padding: 0 16px;

    @media (max-width:@mobile) {
      padding: 0;
    }
  }

  &__price-new {
    margin-right: 12px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;

    @media (max-width:@mobile) {
      font-size: 14px;
    }
  }

  &__price-old {
    font-size: 14px;
    line-height: 1.4;
    text-decoration-line: line-through;
    color: #A0A0A0;

    @media (max-width:@mobile) {
      font-size: 10px;
    }
  }
}

.about {
  max-width: 890px;
  width: 100%;

  &__title {
    margin-bottom: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.4;
    color: #000000;

    @media (max-width:@mobile) {
      margin-bottom: 16px;
      font-size: 24px;
    }
  }

  &__text-item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 1.4;
    color: #000000;

    @media (max-width:@mobile) {
      font-size: 14px;
    }
  }

}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  &.--active {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &__top {
    padding: 0 16px;
    margin-bottom: 16px;
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #C4C4C4;
  }

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
    color: #1A1A1A;
  }

  &__container {
    padding: 11px 0;
    width: 85%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-y: auto;
    cursor: default;
    text-align: left;
    transform: translateX(200%);
    transition: transform 0.3s ease-in-out;

    &.--active {
      transform: translateX(0);
    }
  }

  &__back {
    margin-right: 8px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
  }

  &__close {
    position: absolute;
    right: 16px;
    top: 12px;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../../common.blocks/catalog/icon-modal-close.svg);
    cursor: pointer;
  }

  &__content {
    padding: 0 16px;
  }

}